<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name"><%= @item.item_name %></h2>

    <div class="item-img-content">
      <%= image_tag @item.image, class:"item-box-img" %>
    </div>

    <div class="item-price-box">
      <span class="item-price"><%= @item.amount %>円</span>
      <span class="item-postage">配送料負担</span>
    </div>

    <%# ボタン表示（最小実装） %>
    <% if user_signed_in? %>
      <% if current_user == @item.user %>
        <%# 自分の出品物 → 編集・削除ボタン %>
        <%= link_to "商品の編集", edit_item_path(@item), class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", item_path(@item), data: { turbo_method: :delete }, class:"item-destroy" %>
      <% else %>
        <%# 他人の出品物 → 購入ボタン %>
        <%= link_to "購入画面に進む", "#", class:"item-red-btn" %>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span>商品説明</span>
      <p><%= @item.item_explanation %></p>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.situation.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shipping_charge.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.shipping_area.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.delivery_time.name %></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<%= render "shared/footer" %>

